{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {% include 'partials/og.html' %}
    {% include 'partials/jsonld.html' %}
{% endblock %}

{% if HEADER_COVER %}
  {% if HEADER_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HEADER_COVER %}
  {% elif HEADER_COVER.startswith('/') %}
    {% set selected_cover = SITEURL+HEADER_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HEADER_COVER %}
  {% endif %}
{% elif HOME_COVER %}
  {% if HOME_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HOME_COVER %}
  {% elif HOME_COVER.startswith('/') %}
    {% set selected_cover = SITEURL+HOME_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HOME_COVER %}
  {% endif %}
{% elif HEADER_COLOR %}
  {% set selected_color = HEADER_COLOR %}
{% elif HOME_COLOR %}
  {% set selected_color = HOME_COLOR %}
{% endif %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="blog-header {% if selected_cover or selected_color %} has-cover {% endif %}">
      <div class="inner">
        <div class="box blog-box">
          <h1 class="blog-name">{{ SITENAME }}</h1>
          {% if SITESUBTITLE %}
          <span class="blog-description">{{ SITESUBTITLE }}</span>
          {% endif %}
        </div>

        {% if selected_cover %}
          <div class="blog-cover cover">
            {% if "image_process" is plugin_enabled %}
              <img class="image-process-large-photo" src="{{ selected_cover }}" alt="{{ current_title }}" />
            {% else %}
              <img src="{{ selected_cover }}" alt="{{ current_title }}" />
            {% endif %}
          </div>
        {% elif selected_color %}
          <div class="blog-cover cover" style="background-color: {{ selected_color }}">
        {% endif %}
      </div>
    </header>

{% endblock header %}

{% block content %}

<div id="index" class="container">
  <main class="content" role="main">
    <article class="post archives">
      
      <!--- Intro -->
      {% set aboutpage = pages | selectattr('slug', 'equalto', 'about') | first %}
      {% if aboutpage %}
      <div class="inner">
        <section class="post-content">
        {{aboutpage.content}}
        </section>
      </div>
      {% endif %}
      
      <!--- 3 last featured articles -->
      {% set featured_articles = (articles|selectattr('category', 'equalto',
      'feature')|sort(attribute='date', reverse=True))  %}
      {% if featured_articles | length > 0 %}
      <article class="post archives">
        <div class="inner">
          <section class="post-content">
            <h2 class="archive-title">Featured Articles</h2>
            <ul>
              {% for article in (featured_articles|list)[:3] %}
              <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </article>        
      {% endif %}

      
      <!--- 5 most recent articles -->
      {% set recent_articles = (articles|rejectattr('category', 'equalto',
      'quick tip')|rejectattr('category', 'equalto', 'feature')|sort(attribute='date', reverse=True)) %}
      <article class="post archives">
        <div class="inner">
          <section class="post-content">
            <h2 class="archive-title">Recent articles</h2>
            
            <ul>
              {% for article in (recent_articles|list)[:5] %}
              <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
              {% endfor %}
            </ul>
            <p><a href="{{ SITEURL }}/archive">More articles →</a></p>
          </section>
        </div>
      </article>

      <!--- 5 most recent quick typs -->
      {% set recent_tips = (articles|selectattr('category', 'equalto',
      'quick tip')|sort(attribute='date', reverse=True)) %}
      <article class="post archives">
        <div class="inner">
          <section class="post-content">
            <h2 class="archive-title">⤴︎ Quick Tips</h2>
            
            <ul>
              {% for article in (recent_tips|list)[:5] %}
              <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </article>
      

      <!--- subscribe -->
      {% set subscribepage = pages | selectattr('slug', 'equalto', 'subscribe') | first %}
      {% if subscribepage %}
      <article class="post archives">
        <div class="inner">
          <section class="post-content">
            {{subscribepage.content}}
          </section>
        </div>
       </article>
      {% endif %}

  </main>
</div>
{% endblock content %}
